*.csv
data/database.db
data/load_data/dados.sql
*.db
*.swp
data/frequent_itemsets/frequent_itemsets.txt
.Rproj.user
data/load_data/carga.sql
R/.Rhistory
frequent_itemsets/*.txt
R/.RData
paper/main.aux
paper/main.bbl
paper/main.blg
paper/main.log
paper/main.out
paper/main.pdf
data/data.sql
